#login-form{
    background-color: lightgray;
    padding: 15px 15px 15px 15px;
    border: 2px solid darkgray;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
    font-weight: 500;
    width: 30%;
    margin-bottom: 20px;
    text-align: center;
    padding-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

input[type="submit"] {
    background-color: #eb7c33;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
form div a{
    background-color: #eb7c33;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}
input[type="submit"]:hover {
    background-color: #4caf84;
}
form div a:hover {
    background-color: #4caf84;
}
p{
    margin: 0;
}
h6{
    margin-top: 0;
    text-align: right;
}
div h5{
    margin: 0;
    margin-bottom: 20px;
}
.login{
    text-align: center;
    font-size: 35px;
    font-weight: 900;
    text-decoration: none;
    background-color: #eb7c33;
    padding: 20px;
    border: darkgray 1px;
    border-radius: 5px;
    font-family: 'BioRhyme', serif;
}